<form>
  <h2>{{ formType() }}</h2>
  <ng-container *ngIf="formType() === 'login'">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
  </ng-container>
  <ng-container *ngIf="formType() === 'register'">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="form-group">
      <label for="password">Confirm password:</label>
      <input type="password" id="confirm_password" name="confirm_password" required />
    </div>
  </ng-container>
  <br />
  <div class="form-group">
    <button type="submit">Submit</button>
  </div>
  <div>
    <app-social-button></app-social-button>
  </div>
</form>
