<footer class="flex items-center justify-between p-5 px-10 mt-20">
  <div>
    <h2 class="font-bold text-4xl leading-14">Stay Updated with SubsRemind</h2>
    <p class="mt-2">Subscribe for the latest news and updates</p>
  </div>
  <div class="flex flex-col items-end">
    <form class="flex items-center gap-2">
      <p-floatlabel variant="in">
        <input pInputText id="in_label" autocomplete="off" pSize="small" />
        <label for="in_label">In Label</label>
      </p-floatlabel>
      <p-button type="submit" size="large">Sign up</p-button>
    </form>
    <p class="text-sm mt-2">By clicking Sign Up, you agree to our Terms and Conditions</p>
  </div>
</footer>
