<main>
  <section id="hero">
    <div class="relative w-full h-[400px]">
      <img
        ngSrc="/images/home/hero.jpg"
        fill
        style="object-fit: cover"
        priority
      />
      <div class="bg-black opacity-40 absolute inset-0 z-20"></div>
    </div>
  </section>
  <section class="p-5 px-10">
    <article class="grid md:grid-cols-2 gap-10 items-center">
      <h1 class="font-bold text-4xl leading-14">
        Stay on top of your <br />
        subscriptions effortlessly🔥
      </h1>
      <div>
        <p class="leading-8 text-lg">
          SubsRemind helps you track all your online subscriptions in one place.
          Get timely reminders before your payments are due, so you never miss a
          beat.
        </p>
        <div class="button-group mt-5 space-x-2">
          <p-button>Get Started</p-button>
          <p-button severity="contrast" variant="outlined">Learn More</p-button>
        </div>
      </div>
    </article>
  </section>
  <section class="mt-20 p-5 px-10">
    <div class="space-y-4">
      <h6 class="text-lg font-bold text-center">track</h6>
      <h2 class="text-4xl font-bold text-center">
        Stay on Top of Subscriptions
      </h2>
      <p class="text-center text-lg">
        effortlessly manage your subscriptions and expenses
      </p>
    </div>
    <article class="mt-14">
      <div class="grid md:grid-cols-3 gap-3">
        <app-track-card
          *ngFor="let trackCard of trackCards"
          [trackCard]="trackCard"
        ></app-track-card>
      </div>
    </article>
  </section>
  <section class="p-5 px-10 mt-20">
    <article class="grid md:grid-cols-2 gap-10 items-center">
      <h1 class="font-bold text-4xl leading-14">
        Discover how SubsRemind simplifies managing your subscriptions
        effortlessly
      </h1>
      <div>
        <p class="leading-8 text-lg">
          SubsRemind is designed to help you keep track of all your
          subscriptions in one place. With easy-to-use features, you can add,
          edit, and delete subscriptions as needed. Plus, receive timely
          reminders before your payment due dates to avoid any surprises.
        </p>
      </div>
    </article>
    <div class="mt-20 grid md:grid-cols-3 md:gap-2 gap-10">
      <app-purpose-card
        *ngFor="let purposeCard of purposeCards"
        [purposeCard]="purposeCard"
      ></app-purpose-card>
    </div>
  </section>
</main>
